.BrowserWindow {
  z-index: 1;
}

.BrowserWindow__row {
  padding: 3px 5px;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
}

.BrowserWindow__left {
  display: flex;
  gap: 10%;
  align-items: center;
}

.BrowserWindow__middle {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
}

.BrowserWindow__right {
  flex-direction: column;
  display: flex;
  gap: 20%;
  justify-content: center;
  align-items: flex-end;
}

/* Clear floats after the columns */
.BrowserWindow__row:after {
  content: "";
  display: table;
  clear: both;
}

/* Three dots */
.dot {
  height: 3px;
  width: 3px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

/* Style the input field */
.BrowserWindow__input {
  width: 100%;
  border: none;
  background-color: white;
  padding: 0 5px;
  height: 100%;
  line-height: 100%;
  font-size: 20%;
  display: flex;
  align-items: center;
}

.bar {
  width: 5px;
  height: 1px;
  background-color: #aaa;
  display: block;
}

@media (min-width: 600px) {
  .BrowserWindow__row {
    padding: 1px 10px;
    display: grid;
    grid-template-columns: 70px 1fr 50px;
    grid-template-rows: 20px;
  }

  .dot {
    height: 6px;
    width: 6px;
  }

  .BrowserWindow__input {
    font-size: 50%;
  }

  .bar {
    width: 30%;
    height: 10%;
  }
}
