.BrowserWindow {
  width: 100%;
}

.BrowserWindow__row {
  padding: 5px 10px;
  background: #f1f1f1;
  display: grid;
  grid-template-columns: 70px 1fr 50px;
}

.BrowserWindow__column {
  float: left;
}

.BrowserWindow__left {
  display: flex;
  gap: 10px;
  align-items: center;
}

.BrowserWindow__right {
  flex-direction: column;
  display: flex;
  gap: 3px;
  justify-content: center;
  align-items: flex-end;
}

/* Clear floats after the columns */
.BrowserWindow__row:after {
  content: "";
  display: table;
  clear: both;
}

/* Three dots */
.dot {
  height: 12px;
  width: 12px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

/* Style the input field */
.BrowserWindow__input {
  width: 100%;
  border: none;
  background-color: white;
  margin-top: -8px;
  height: 25px;
  padding: 5px;
  font-size: 10px !important;
}

/* Three bars (hamburger menu) */
.bar {
  width: 17px;
  height: 2px;
  background-color: #aaa;
  display: block;
}
